.main-visual {
  overflow: hidden;
  height: 100vh;
  ul {
    li {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      background-color: #fff;
      height: 100vh;

      .img-box {
        img {
          height: 500px;
        }
      }
      .txt-box {
        .title {
          font-size: 48px;
          font-weight: 900;
          margin-bottom: 50px;
          width: 500px;
          @include multiEllipsis(2, 1.2);
        }
        .txt {
          font-size: 20px;
          font-weight: 500;
          span {
            color: $main-color;
          }
        }
      }
    }
  }
  .pagination {
    position: absolute;
    bottom: 100px;
    z-index: 10;
    @include flex();
    .swiper-pagination-bullet {
      width: 20px;
      height: 20px;
      border: 5px solid #333;
      background-color: transparent;
      border-radius: 100px;
      transition: all 0.5s ease;
      &-active {
        background-color: $main-color;
        border-color: $main-color;
        width: 100px;
      }
    }
  }
  button {
    position: absolute;
    top: 50%;
    z-index: 2;
    cursor: pointer;
    span {
      font-size: 100px;
      font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
    }
    &.btn-prev {
      left: 20px;
    }
    &.btn-next {
      right: 20px;
    }
  }
}

.banner {
  overflow: hidden;
  h2 {
    margin-bottom: 50px;
  }
  .container {
    position: relative;
  }
  .mask {
    overflow: hidden;
    padding: 30px;
  }
  ul {
    li {
      padding: 20px;
      border: 1px solid #ccc;
      background-color: #fff;
      border-radius: 20px;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: all 0.25s ease;
      .img-box {
        overflow: hidden;
        img {
          transition: all 0.25s ease;
        }
      }
      &:hover {
        transform: translateY(-20px);
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
        .img-box {
          img {
            transform: scale(1.2);
          }
        }
      }
      h3 {
        font-size: 16px;
      }
      img {
        width: 100%;
      }
      .price {
        strong {
          font-weight: 900;
          font-size: 24px;
        }
      }
      .bottom-info {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  button {
    position: absolute;
    top: 50%;
    z-index: 2;
    cursor: pointer;
    display: flex;
    background-color: #fff;
    //border: 1px solid #000;
    z-index: 2;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    span {
      font-size: 64px;
      font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 24;
    }
    &.btn-prev {
      left: -50px;
    }
    &.btn-next {
      right: -50px;
    }
  }
}

.btn-top {
  width: 50px;
  height: 50px;
  @include flex();
  background-color: $main-color;
  color: #fff;
  border: none;
  position: fixed;
  right: 50px;
  bottom: -150px;
  z-index: 98;
  font-weight: 700;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  @include longShadow(30, darken($main-color, 10));
  transition: all 0.25s ease;
  //scroll의 위치값이 300보다 커지면 show라는 클래스를 달아서
  // bottom을 원래 위치인 50으로 옮겨놓기...
  &.show {
    bottom: 50px;
  }
}
